.bs-example
{
        margin: 60px;        
 }

 .reminder
 {
  margin: 15px;
 }

 .custom-file-control
 {
  color: #fff;
  background-color: #F47735;
  border-color: #F47735;
  padding: 5px;
  border-radius: 4px;
 }

 .img-sizing{
  height: 100px;
  width: 100px;
 }

 
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about_title{
 font-family: Cambria; 
 font-size: 40px; 
 font-style: normal; 
 font-variant: normal; 
 font-weight: 300; 
 line-height: 27.9px; 
 padding: 40px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.padding-column{
  padding-right: 70px;
  padding-left: 70px;
}
.img-size{
  height: 400px;
  width: 200px;
}
.column-font { 
  font-family: Cambria,Georgia,serif; 
  font-weight: 700; 

}
.padding{
  padding-left: 70px;
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.img-size{
  height: 140%;
}

  /* Create two equal columns that floats next to each other */
.column_list {
  float: left;
  width: 50%;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row_list:after {
  content: "";
  display: table;
  clear: both;
}

.notify{
  right: 25%;
}

.upcomingEvent{
  line-height: 0.5;

